
body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f0f;
    background-image: url("back1.png");
    color: #fff;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #d6d6d6;
    font-weight: bold;
}

.menu a:hover {
    color: #fff;
}

header {
    background-image: url('https://via.placeholder.com/1200x250');
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    color: rgb(236, 0, 0);
    text-shadow: 2px 2px 4px #000;
    font-size: 2.5em;
}

header h2 {
    font-style: italic;
    color: #ddd;
}

#destaque {
    padding: 30px;
    text-align: center;
}

#destaque img{
    width: 25%;
    align-content: right;
}

.card-destaque {
    border: 2px solid rgb(236, 0, 0);
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}

.card-destaque img {
    float: left;
    border-radius: 10px;
    margin-right: 20px;
}

.info-filme {
    text-align: left;
}

.info-filme ul {
    list-style-type: square;
}

/* CATÁLOGO */
#catalogo {
    background-color: #181818;
    padding: 40px;
    text-align: center;
}

.grade-filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #222;
    border: 1px solid #555;
    border-radius: 10px;
    width: 180px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card a {
    color: rgb(236, 0, 0);
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* TABELA */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #222;
}

/* SOBRE / CONTATO */
#sobre {
    padding: 40px;
    background-color: #0f0f0f;
}

#sobre p {
    line-height: 1.6;
}

.foto {
    float: right;
}

#sobre a {
    color: rgb(236, 0, 0);
    text-decoration: none;
}

#sobre a:hover {
    text-decoration: underline;
}